html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    background-color: #2565A1;
    grid-template-rows:20px 20px 80% 20px ;
    grid-template-columns:20px 100px  ;
    grid-template-areas: "header header nav" "main main main" "footer footer footer";
}

header {
    display: inline-block;
    width: 100%;
    padding: 25px 80px;
    background-color: thistle;
    position: relative;
    
}

nav {}

main {}

footer {
    background-color:#70B0DC;
    background-color: ;
    text-align: center;
    color: white;
}

.
/**




header {
    display: inline-block;
    width: 100%;
    padding: 25px 80px;
    background-color: thistle;
    position: relative;
}

nav {
    float: right;
}

footer {
    background-color: tomato;
    text-align: center;
    color: white;
}

nav ul li {
    display: inline-block;
    padding: 15px 25px;
    color: white;
}

nav ul li a {
    text-decoration: none;
}

.logo {
    float: left;
}

 @media screen and(max-width:500px){



}*/